<div class="container">
  <h1 class="mt-5 mb-5 text-center"> Welcome <strong> <%= current_user.first_name %>!</strong></h1>

  <div class="dashboard-box d-flex justify-content-evenly">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th class="table-top" scope="col">Project Name</th>
          <th class="table-top" scope="col">Status</th>
          <th class="table-top" scope="col">Upvote Count</th>
          <th class="table-top" scope="col">Update</th>
          <th class="table-top"  style="" scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do | project | %>
          <tr>
            <th scope="row">
            </th>
            <td>
              <img src="https://images.unsplash.com/photo-1594280469678-b2e9155feeb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJpcmQlMjBuZXN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" class="img-thumbnail" alt="...">
              <%= project.title %>
            </td>
            <td> <%= project.progress %> </td>
            <td>Upvote</td>
            <td>
              <%= link_to "", edit_project_path(project), class: "dashboard-hover btn btn-primary fa-solid fa-pen-to-square", id: "dashboard-button" %>
            </td>
            <td>
              <%= link_to "", project_path(project), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "dashboard-hover btn btn-primary fa-solid fa-trash", id: "dashboard-red" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="create-button">
  <%= link_to "Create new project", new_project_path, class: "btn btn-primary createp" %>
  </div>
</div>
