<% project.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
<% end %>

<h3><%= project.title %></h3>
<h2>👍🏻 <%= project.votes_for.size - project.get_downvotes.size  %></h2>
<p><%= project.address %></p>

<%= link_to "View Details", project_path(project.id), class: "btn btn-primary" %>
