<%= link_to project_path(project.id), class: "mapboxgl-popup-content" do %>
  <% if project.photos.attached? %>
    <%= cl_image_tag project.photos.first.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <h2><%= project.title %></h2>
  <% project.tags.each do |tag| %>
    <p class="tag"><%= tag %> </p>
  <% end %>

  <p class="address-p"><%= project.address %></p>
  <h2 class="thumbs-info-page"><i class="fa-solid fa-thumbs-up"></i>  <%= (100 + project.votes_for.size - project.get_downvotes.size)  %></h2>
<% end %>
