<div class="form-background">
  <div class="container">
    <div class="flexbox">
      <div class="me-5" src="">
        <h1><strong>Share your <br> project idea <br> with the community</strong></h1>
      </div>
      <div class="formcard ms-5">
        <%= simple_form_for [@city, @project] do |f| %>
          <%= f.input :title, label: "Title", placeholder: "Create some curiosity" %>
          <%= f.input :description, label: "Description", placeholder: "Add some more details" %>
          <%= f.input :address,
                    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
          <%= f.input :photos, label: "Images", as: :file, input_html: { multiple: true } %>
          <%= f.button :submit, "Create", class:"btn btn-primary c-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
