
<div class="d-flex justify-content-center mt-5">
  <div class="flexbox px-5 mx-5">
    <div class="me-5" src="https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80">
      <h1><strong>Share your <br> project idea <br> with the community</strong></h1>
    </div>
    <div class="formcard">
      <%= simple_form_for [@city, @project] do |f| %>
        <%= f.input :title, label: "Title", placeholder: "Create some curiosity" %>
        <%= f.input :description, label: "Description", placeholder: "Add some more details" %>
        <%= f.input :tag_list,
                  as: :check_boxes,
                  collection: [ "transport", "culture", "green space", "architecture", "family", "leisure", "elderly"],
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
        <%= f.input :address,
                  input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
        <%= f.input :photos, label: "Images", as: :file, input_html: { multiple: true } %>
        <%= f.button :submit, "Create", class:"btn-uno-wide" %>
      <% end %>
    </div>
  </div>
</div>
