<div class="d-flex justify-content-center ">
  <div class="flexbox">
    <div class="me-5">
      <h1><strong>Share your <br> project idea <br> with the community</strong></h1>
    </div>
    <div class="formcard ms-5">
      <%= simple_form_for [@city, @project] do |f| %>
        <%= f.input :title, label: "A catchy title"%>
        <%= f.input :description, label: "Some description"%>
        <%= f.input :location, label: "Provide the street, house number and postal code" %>
        <%= f.input :photo, label: "Add images of status-quo and of your future vision", as: :file, input_html: { multiple: true } %>
        <%= f.submit class:"btn-flat"%>
      <% end %>
    </div>
  </div>
</div>
